# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular Data Science Languages
- List of common Data Science Library
- List of Arithmatic Operations

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

### Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Pandas

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Visual Studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [26]:
# This will convert 200 minutes to hours by diving by 60

a = 200/60
print("200 minutes converts to",a,"hours")

200 minutes converts to 3.3333333333333335 hours

## Author

Daiyaan Baug